body{
  // background: pink;
}
.nav{
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  button{
    margin-right: 5px;
  }
}
button{
  border-radius:8%;
  border:none;
  width: 80px;
  height: 35px;
  border: none;
  outline: none;
  background: rgba(196, 196, 196, 0.32);
  &:hover{
    background: rgba(196, 196, 196, 0.72);
  }
}
.repos-tab{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.repos-tab__repos{
  min-height: 500px;
}
.repo-link{
  margin: 0 auto;
  padding: 6px;
  text-align: center;
  border: 1px solid black;
  border-radius:8%;
  width: 200px;
  height: 30px;
  margin-bottom: 5px;
  span{
    text-align: center;
  }
  &:hover{
    background: rgb(232, 232, 232);
  }
}
.spinner-border{
  margin: 50% 50%;
}
.repos-tab__issues{
  width:60%;
}
.issues{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  button{
    margin-bottom: 5px;
  }
}
.issues-title{
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(130, 130, 130);
}
.issues__issue{
  padding: 5px 0px;
  min-height: 25px;
  width: 100%;
  font-weight: bold;
  color: black;
  border-bottom:2px solid gray ;
  &:hover{
    text-decoration: none;
  }
  span{
  }
}

.car-info{
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.car-info__img{
  width: 150px;
  height:90px;
}
.car-info__title{
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.car-info__transmisson{
  width: 100%;
  text-align: center;

}
.car-info__fuel{
  width: 100%;
  text-align: center;

}
@media screen and (max-width:700px) {
  .spinner-border{
    margin: 50% 50%;
  }
  .issues{
    button{
      margin-left:35%;
    }
  }
  .hidden{
    display: none;
    position: absolute;
  }
}
